@use "src/index.scss" as *;

.team-navbar-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  background-color: var(--surface-container-lowest);
  height: 100%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  color: var(--on-surface-muted);
  font-weight: 700;
  font-size: 9px;
  line-height: 100%;
  font-family: var(--font-family);
  letter-spacing: 0.4px;
}
