# Copy to .env and adapt if needed
CONFIG_FILE=./config/configuration.yaml
# Required only when security.m2m.enabled=true
KEYCLOAK_CONTROL_PLANE_CLIENT_SECRET=
# Required only when security.rebac.enabled=true
OPENFGA_API_TOKEN=
# Required when storage.content_storage.type=minio (for banner uploads)
MINIO_SECRET_KEY=
# Postgres credentials
FRED_POSTGRES_PASSWORD="
