.user-settings-page {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  padding-top: var(--spacing-m);
  width: 680px;
  height: 100%;
}

.user-settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs);
  width: 100%;
  height: fit-content;

  :last-child {
    margin-left: auto;
  }
}

.user-settings-header-title {
  font: var(--font-title-medium);
}

.user-settings-description {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
  border-radius: var(--spacing-s);
  background-color: var(--surface-container);
  padding: var(--spacing-m);
}

.user-settings-identity {
  display: flex;
  flex-direction: column;
  font: var(--font-body-medium);
}

.user-settings-identity-name {
  color: var(--primary);
  font: var(--font-body-medium);
}

.user-settings-identity-fullname {
  color: var(--on-surface);
  font: var(--font-title-medium);
}

.user-settings-identity-email {
  color: var(--on-surface-retreat);
  font: var(--font-body-medium);
}

.user-settings-identity-role {
  color: var(--on-surface-retreat);
  font: var(--font-body-medium);
}

.user-settings-application {
  display: flex;
  gap: var(--spacing-m);
}

.user-settings-conversation {
  border-radius: var(--spacing-s);
  background-color: var(--surface-container);
  padding: var(--spacing-m);
  min-height: 15rem;
}
