/* Colors ramps - Static */
:root {
  --indigo-0: #000000;
  --indigo-10: #0f134f;
  --indigo-20: #1c247f;
  --indigo-30: #333b9f;
  --indigo-40: #4851c3;
  --indigo-50: #646bdc;
  --indigo-60: #7c86f8;
  --indigo-70: #9ca4ff;
  --indigo-75: #adb3ff;
  --indigo-80: #bec2ff;
  --indigo-90: #e0e0ff;
  --indigo-95: #f1efff;
  --indigo-99: #fffbff;
  --indigo-100: #ffffff;
  --light-blue-0: #000000;
  --light-blue-10: #001f27;
  --light-blue-20: #003641;
  --light-blue-30: #004e5d;
  --light-blue-40: #00687b;
  --light-blue-50: #1c8199;
  --light-blue-60: #229db9;
  --light-blue-70: #45b9d6;
  --light-blue-80: #75d3ee;
  --light-blue-90: #bceaf9;
  --light-blue-95: #daf5ff;
  --light-blue-99: #f8fdff;
  --light-blue-100: #ffffff;
  --light-purple-0: #000000;
  --light-purple-10: #131642;
  --light-purple-20: #292c58;
  --light-purple-30: #404370;
  --light-purple-40: #575a8a;
  --light-purple-50: #7073a4;
  --light-purple-60: #8a8dbf;
  --light-purple-70: #a4a7db;
  --light-purple-80: #c0c2f8;
  --light-purple-90: #e0e0ff;
  --light-purple-95: #f1efff;
  --light-purple-99: #fffbff;
  --light-purple-100: #ffffff;
  --cold-green-0: #000000;
  --cold-green-10: #061f19;
  --cold-green-20: #00382d;
  --cold-green-30: #005142;
  --cold-green-40: #006b59;
  --cold-green-50: #008770;
  --cold-green-60: #00a388;
  --cold-green-70: #3cbfa2;
  --cold-green-80: #65dabd;
  --cold-green-90: #a4f2dc;
  --cold-green-95: #d0faec;
  --cold-green-99: #f3fff9;
  --cold-green-100: #ffffff;
  --mustard-0: #000000;
  --mustard-10: #281804;
  --mustard-20: #452b05;
  --mustard-30: #643e04;
  --mustard-40: #82540f;
  --mustard-50: #a36b18;
  --mustard-60: #c48328;
  --mustard-70: #e19d47;
  --mustard-80: #fabb6c;
  --mustard-90: #fcdebd;
  --mustard-95: #ffeede;
  --mustard-99: #fffffb;
  --mustard-100: #ffffff;
  --red-0: #000000;
  --red-10: #360f0e;
  --red-20: #601215;
  --red-30: #8c171e;
  --red-40: #b4242c;
  --red-50: #de363d;
  --red-60: #fc5656;
  --red-70: #ff8984;
  --red-75: #ff9f9a;
  --red-80: #ffb3af;
  --red-90: #ffdad7;
  --red-95: #ffedeb;
  --red-99: #fffbff;
  --red-100: #ffffff;
  --cold-grey-0: #000000;
  --cold-grey-04: #0d0e13;
  --cold-grey-06: #111318;
  --cold-grey-07: #13151c;
  --cold-grey-08: #15171d;
  --cold-grey-09: #171921;
  --cold-grey-10: #191b21;
  --cold-grey-11: #1c1d25;
  --cold-grey-12: #1c1f26;
  --cold-grey-13: #202129;
  --cold-grey-14: #20232a;
  --cold-grey-15: #24252d;
  --cold-grey-16: #26272f;
  --cold-grey-17: #282931;
  --cold-grey-18: #2b2c34;
  --cold-grey-19: #2d2e36;
  --cold-grey-20: #2f2f37;
  --cold-grey-21: #32323a;
  --cold-grey-22: #34343c;
  --cold-grey-30: #46464f;
  --cold-grey-40: #5d5d66;
  --cold-grey-50: #76767f;
  --cold-grey-60: #90909a;
  --cold-grey-70: #aaaab4;
  --cold-grey-75: #b8b8c2;
  --cold-grey-80: #c6c5d0;
  --cold-grey-85: #d4d3de;
  --cold-grey-88: #dddce7;
  --cold-grey-90: #e2e1ec;
  --cold-grey-91: #e5e4ef;
  --cold-grey-92: #e8e7f2;
  --cold-grey-93: #ebeaf5;
  --cold-grey-94: #eeedf8;
  --cold-grey-95: #f0effa;
  --cold-grey-96: #f4f2fd;
  --cold-grey-97: #f7f5ff;
  --cold-grey-98: #fbf8ff;
  --cold-grey-99: #fffbff;
  --cold-grey-100: #ffffff;
}
