.chatListContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.chatListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-m);
  height: 2rem;
  color: var(--on-surface-retreat);
  font: var(--font-body-small);
}

.chatListItems {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-xs) var(--spacing-xs);
  overflow-y: auto;
}
