.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-m);
  padding: var(--spacing-xl) 0 var(--spacing-l) 0;
  width: 100%;
  color: var(--on-surface);
  font: var(--font-title-large);
}

.agentList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
  gap: var(--spacing-m);
  padding: 0 var(--spacing-l) var(--spacing-l) var(--spacing-l);
  overflow: auto;
}
