.input {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: var(--spacing-2xs);
  width: 100%;

  &:has(.icon) {
    input {
      padding-left: calc(var(--spacing-s) + 1.5rem + var(--spacing-xs));
    }
  }

  input {
    --input-outline: transparent;
    --input-border: var(--outline-retreat);
    outline: 2px solid var(--input-outline);
    border: 1px solid var(--input-border);
    border-radius: var(--spacing-xs);
    background-color: var(--surface-container-lowest);
    padding: 0 var(--spacing-xs) 0 var(--spacing-s);
    height: 3rem;
    color: var(--on-surface);
    font: var(--font-body-large);

    &::placeholder {
      color: var(--on-surface-retreat);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 100px var(--surface-container-lowest) inset;
      -webkit-text-fill-color: var(--on-surface);
    }
  }

  &:not(.error) input:not(:disabled) {
    &:hover {
      border-color: var(--outline);
    }

    &:focus {
      border-color: transparent;
      --input-outline: var(--primary);
    }
  }

  &.error input:not(:disabled) {
    --input-border: var(--error);

    &:focus {
      --input-outline: var(--error);
    }
  }
}

.label {
  --label-color: var(--on-surface-retreat);
  padding-left: var(--spacing-xs);
  color: var(--label-color);

  font: var(--font-label-large);
}

.input[data-compact="false"] .information {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--spacing-xs);
  width: 100%;
  min-height: 1.25rem;
  color: var(--on-surface-retreat);
  font: var(--font-body-medium);
}

.hint {
  min-width: 0;
  overflow-wrap: break-word;
}

.maxLength {
  padding-left: var(--spacing-m);
}

.error .information {
  color: var(--error);
}

.error .label {
  color: var(--error);
}

.disabled .label,
.disabled .information {
  color: var(--on-surface-retreat);
}

.input:focus-within .label {
  --label-color: var(--on-surface);
}

.icon {
  display: flex;
  position: absolute;
  align-items: center;
  padding-left: var(--spacing-s);
  height: 3rem;
  color: var(--on-surface-retreat);
  font-size: 1.5rem;
}
