.mainFormCard {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
  border-radius: var(--radius-s);
  background-color: var(--surface-container);
  padding: var(--spacing-m) var(--spacing-l);
}
