.userAvatarContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  > * {
    margin-right: calc(-1 * var(--spacing-s));
    border: 2px solid var(--surface-container);
  }
}
