.rbc-allday-cell {
  display: none;
}

.rbc-time-slot {
  align-items: center;
  min-height: 7px;
}

.rbc-label {
  font-size: 10px;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0;
}

.rbc-timeslot-group {
  min-height: 7px;
}

.rbc-current-time-indicator {
  display: none;
}

* {
  box-sizing: border-box;
  corner-shape: squircle;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--surface-container-lowest) !important;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
