.teamContentNavbarContainer {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%;
  min-height: 0;
}

.bannerContainer {
  display: flex;
  align-items: flex-end;
  border-radius: 0 0 var(--radius-s) var(--radius-s);
  background:
    linear-gradient(
      color-mix(in srgb, var(--secondary-container), transparent 60%),
      color-mix(in srgb, var(--secondary-container), transparent 60%)
    ),
    var(--banner-img) center / cover;
  padding: 0 var(--spacing-xs) var(--spacing-xs) var(--spacing-s);
  height: 88px;
}

.teamNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;

  font: var(--font-title-medium);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.navigationContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}
