@use "src/index.scss" as *;

.team-content-navbar-container {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%;
  min-height: 0;
  --banner-img: url("/images/default-team-banner.png");
}

.banner-container {
  display: flex;
  align-items: flex-end;
  border-radius: 0 0 var(--radius-s) var(--radius-s);
  background: var(--banner-img) center;
  background-size: cover;
  padding: 0 var(--spacing-xs) var(--spacing-xs) var(--spacing-s);
  height: 88px;
}

.team-name-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 1);

  @include typography("title", "medium");
}

.navigation-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}
