@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.agentCard[data-enabled="true"] {
  --agent-name-color: var(--secondary);
  --agent-role-color: var(--on-surface);
  --agent-description-color: var(--on-surface-retreat);
  --agent-icon-background-color: var(--secondary-container);
  --agent-icon-color: var(--on-secondary-container);
  --agent-icon-opacity: 1;
  --agent-card-cursor: pointer;
}

.agentCard[data-enabled="false"] {
  --agent-name-color: var(--on-surface-retreat);
  --agent-role-color: var(--on-surface-muted);
  --agent-description-color: var(--on-surface-muted);
  --agent-icon-background-color: var(--surface-container-lowest);
  --agent-icon-color: var(--on-surface-retreat);
  --agent-icon-opacity: 0.2;
  --agent-card-cursor: default;
}

.agentCard {
  position: relative;
  gap: var(--spacing-xs);
  animation: rotate-gradient 2s linear infinite;
  animation-play-state: paused;
  cursor: var(--agent-card-cursor);
  border: 2px solid transparent;
  border-radius: var(--spacing-m);
  background-color: var(--surface-container);
  padding: var(--spacing-m) var(--spacing-m) var(--spacing-s) var(--spacing-m);
  width: 320px;
  height: 100%;
  --blur: 0px;
  --newChatDisplay: none;

  &:hover:not([data-enabled="false"]) {
    --blur: 5px;
    --newChatDisplay: flex;
    animation-play-state: running;
    background:
      linear-gradient(var(--surface-container), var(--surface-container)) padding-box,
      conic-gradient(from var(--angle), #ffffff, #65e0f6, #9299ff, #e1c39c, #d665b4, #ffffff) border-box;
  }
}

@keyframes rotate-gradient {
  to {
    --angle: 360deg;
  }
}

.stateLayer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-2xs);
  height: 100%;
}

.agentInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  filter: blur(var(--blur));
  padding-bottom: var(--spacing-2xs);
}

.agentPresentation {
  display: flex;
  gap: 16px;
}

.agentIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: var(--agent-icon-opacity);
  border-radius: var(--radius-m);
  background-color: var(--agent-icon-background-color);
  min-width: 4rem;
  height: 4rem;
  color: var(--agent-icon-color);
  font-size: 1.875rem;
}

.agentIdentity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.agentName {
  overflow: hidden;
  color: var(--agent-name-color);
  font: var(--font-body-large-emphasized);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.agentRole {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: var(--agent-role-color);
  -webkit-box-orient: vertical;
  font: var(--font-label-large);
}

.agentDescription {
  display: -webkit-box;
  min-width: 0;
  -webkit-line-clamp: 3;
  color: var(--agent-description-color);
  -webkit-box-orient: vertical;
  overflow: hidden;
  font: var(--font-body-medium);
}

.newChat {
  display: var(--newChatDisplay);
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2xs);
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: var(--on-surface);
  font: var(--font-title-medium);
}

.newChatIcon {
  font-size: 1.25rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
